{% extends 'cms/elements/base.html'%}
{% load static %}

{% block title %}
{{ block.super }}|Рассылка
{% endblock %}

{% block style %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'cms/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'cms/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'cms/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<!--/.dataTables-->
<style>
    .card {
        border-radius: 6px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 33px 11px rgba(34, 60, 80, 0.2);

    }

    h4 {
        text-align: center;
        padding-bottom: 20px;
    }

    .row {
        padding: 10px;
    }


</style>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="callout callout-danger" style="display: none;">
            <p>Нет выбранных пользователей для начала рассылки</p>
        </div>
        {% include 'cms/inc/_messages.html' %}
        <h4>E-mail</h4>
        <div class="row text-center">
            <div class="col-lg-3">
                <label>Выбрать email кому слать</label>
            </div>
            <div class="col-lg-6">
                {% for type in form.type_mailing %}
                <div class="form-check form-check-inline">
                    {{ type }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-3">
                <button id="add_users"
                        type="button"
                        data-target="#usersModal"
                        data-toggle="modal"
                        disabled
                        class="btn btn-outline-dark">Выбор пользователя
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="form-label">Загрузить HTML-письмо: </label>
                    <div class="col-sm-4">
                        <a class="btn btn-outline-success btn-file" style="margin-right: 10px;">Загрузить
                            {{ form.file }}
                        </a>
                    </div>
                </div>
                <div>
                    <label>Загруженный файл:
                        <a id="loaded_template" style="color: red">Не загружен</a>
                    </label>
                </div>
                <div>
                    <label>Шаблон используемый в текущей рассылке:
                        <a id="templates" style="color: red">Не выбран</a>
                    </label>
                </div>
                <div>
                    <label style="padding: 10px;">Кол-во писем:
                        <a id="count_mailing">0</a>
                    </label>
                    <label style="padding: 10px;">Рассылка выполнена на:
                        <a id="progress_mailing">0</a><a>%</a>
                    </label>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="container" style="border: 1px solid black; padding: 20px;">
                    <h6 class="text-center">Список последних загруженных шаблонов</h6>
                    <table class="table table-sm text-center">
                        <tbody>
                        {% for template in templates %}
                        <tr>
                            <td>
                                <input type="checkbox"
                                       class="templates-checkbox"
                                       value="{{ template.file.url }}"
                                       name="{{ template }}"
                                       id="{{ template.id }}"/>
                            </td>
                            <td>{{ template }}</td>
                            <td>
                                <a href="" class="fas fa-trash text-danger">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="text-center">
            <button type="button"
                    id="sub"
                    class="btn btn-outline-dark">Начать рассылку
            </button>
        </div>
        <!-- Model users -->
        <div class="modal fade" id="usersModal"
             tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="text-align:center;">Выбор пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% include 'cms/pages/mailing/list_users.html' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                id="save_choice"
                                class="btn btn-secondary"
                                data-dismiss="modal">Сохранить выбор
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.model users -->
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    var load_file = [];

    function load_templates(file) {
        var fileFormat = 'html';
        var parts = []
        if (file) {
            $('#loaded_template').css('color', '').html(file.name).attr('href', window.URL.createObjectURL(file));
            parts = file.name.split('.');
            if (parts.includes(fileFormat)) {
                load_file.push(file)
                $("#sub").prop('disabled', false);
                $(".templates-checkbox").prop('checked', false);
                $("#templates").css('color', '').html(file.name).attr('href', window.URL.createObjectURL(file));

            } else {
                $("#sub").prop('disabled', true);
            }
        }
    }


    $(document).ready(function () {
        // Default settings
        $("#id_type_mailing_0").prop('checked', true);
        var data = $("#users_list").DataTable().data().pluck(4).toArray();
        var template_id = ''
        $('#count_mailing').html(data.length);

        // end


        // templates groups
        $(".templates-checkbox").change(function () {
            $('input[type=checkbox]').prop('checked', false);
            $(this).prop('checked', true);
            if ($(this).prop('checked')) {
                alert(this.value);
                $("#templates").css('color', '').html(this.name).attr('href', this.value);
                template_id = this.id;
                $("#id_file").attr('value', '');
                $("#loaded_template").css('color', '').html('Используется из списка шаблонов')
            }
        })


        // If checkbox choice is checked
        $("#id_type_mailing_1").on("change", function () {
            if ($(this).is(":checked")) {
                $("#add_users").prop("disabled", false);
                $("#sub").prop('disabled', true);
                $('#count_mailing').html(0);
                usersChoices()
            }
        })

        function usersChoices() {
            $('#save_choice').on('click', function () {
                data = []
                data = $("#users_list").DataTable()
                    .rows(function (idx, data, node) {
                        return $(node).find('input[type="checkbox"]').prop('checked');
                    })
                    .data().pluck(4).toArray();
                $('#count_mailing').html(data.length);
                checkDatalist(data)
            })
        }

        // end

        // If checkbox all is checked
        $("#id_type_mailing_0").on("change", function () {
            if ($(this).is(":checked")) {
                $("#add_users").prop("disabled", true);
                usersAll()
            }
        })

        function usersAll() {
            data = []
            data = $("#users_list").DataTable().data().pluck(4).toArray();
            $('#count_mailing').html(data.length);
            checkDatalist(data)
        }

        // end

        // Check out for length in data list
        function checkDatalist(data) {
            if (data.length > 0) {
                $("#sub").prop('disabled', false);
                $(".callout").css('display', 'none');

            } else {
                $("#sub").prop('disabled', true);
                $(".callout").css('display', 'block');
            }
        }

        // end

        $("#sub").on("click", function () {
            let format_date = new FormData()
            format_date.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            format_date.append('file_template', load_file)
            format_date.append('template_id', template_id)
            format_date.append('users', data)
            $.ajax({
                type: 'POST',
                url: '{% url "mailing" %}',
                enctype: 'multipart/form-data',
                data: format_date,
                success: function (data) {
                    if (data.task_id) {
                        updateState(data.task_id);
                    }
                },
                error: function (data) {
                    console.log(data.message)
                },
                cache: false,
                contentType: false,
                processData: false,
            })
        });

        function updateState(taskID) {
            $.ajax({
                url: 'task-status/' + taskID + '/',
                type: 'GET',
                success: function (response) {
                    $('#progress_mailing').html(response.progression);
                    console.log(response.state);
                    if (response.state == 'PROGRESS') {
                        $("#sub").prop('disabled', true);
                    }
                    ;
                    if (response.state == "SUCCESS") {
                        $('#progress_mailing').css('color', 'green');
                        $("#sub").prop('disabled', false);
                        return false;
                    }
                    ;
                    if (response.state == "FAILURE") {
                        console.log(response.state);
                        $('#progress_mailing').css('color', 'red');
                        $("#sub").prop('disabled', false);
                        return false;
                    }
                    ;
                    setTimeout(function () {
                        updateState(response.task_id)
                    }, 1000)
                },
                error: function (response) {
                    console.log(response.error);
                }
            })
        }
    })


</script>
<script src="{% static 'cms/js/celery_progress.js' %}"></script>
<!--{% if task_id %}-->
<!--<script>-->
<!--    // JQuery-->
<!--    $(function () {-->
<!--        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";-->
<!--        alert(progressUrl)-->
<!--        CeleryProgressBar.initProgressBar(progressUrl, {})-->
<!--    });-->
<!--</script>-->
<!--{% endif %}-->

<!-- DataTables  & Plugins -->
<script src="{% static 'cms/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'cms/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'cms/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'cms/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<script>

    // Responsive dataTable for model
    $("#usersModal").on("shown.bs.modal", function () {
        var table = $('#users_list').DataTable();
        table.columns.adjust().responsive.recalc();
    })

    $("#users_list").DataTable({
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "language": {
            "infoFiltered": "(Отфильтровано _MAX_ записей)",
            "zeroRecords": "Записей не найдено",
            "info": "Показано с _START_ по _END_ записей из _TOTAL_",
            "infoEmpty": "Нет записей.",
            "search": "Поиск:",
            "paginate": {
                "previous": "Предыдущая",
                "last": "Последняя",
                "next": "Следующая"
            }
        }
    })
    // end

</script>

<!--/datatable-->
{% endblock %}

