
.custom-control-label {
    transform: scale(1.6);
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_movie:hover {
    cursor: pointer;
    opacity: 0.7;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}