
nav {
    border: 1px solid black;
    border-radius: 5px;

}

.flex-column h3 {
    color: black;
}

.list_movie {
    background-color: #1e2125
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #1e2125;
    border-color: #1e2125
}

/*card style */
.card {
    background-color: #1e2125;
}

.card img {
    border-radius: 6px;
    transition: transform 0.25s;
}


.card:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

/*card style end */

/*type movie */
.image-container img {
    width: 100%;
}

.image-container {
    width: 100%;
    position: relative;
    text-align: right;
}

.right-position {
    position: absolute;
    top: 1%;
    right: -5%;
}

.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

/*type movie end */

